.settings {
  width: 85%;
  max-width: 450px;
  margin: 0 auto;
  padding: 32px 0 200px;
}

.settings h2 {
  padding: 30px;
  text-align: center;
  color: #fff;
  font-size: 36px;
  font-weight: 600;
}

.settings h4 {
  padding: 10px;
  color: #fff;
}

.setting {
  border-radius: 6px;
  padding: 1rem 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.button {
  width: 100%;
  padding: 8px 24px;
  margin: 30px auto 0;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  font-size: 18px;
  color: rgba(34, 33, 33, 0.85);
  border-radius: 8px;
}

.button:hover {
  box-shadow: 0 8px 32px 0 rgba(248, 249, 251, 0.371);
  font-weight: 600;
}

@media (max-width: 556px) {
  .settings h2 {
    padding: 0 0 20px 0;
  }

  .setting {
    flex-direction: column;
    padding: 10px;
    gap: 15px;
  }
}
