HTML CSSResult Skip Results Iframe * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  position: relative;
}

.app {
  background: -webkit-linear-gradient(to left, #2c5364, #203a43, #0f2027);
  background: linear-gradient(to left, #2c5364, #203a43, #0f2027);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

ul {
  display: block;
  width: 100%;
  height: inherit;
}
ul {
  list-style-type: none;
}
li:nth-child(1) {
  position: absolute;
  left: 10%;
  height: 30px;
  width: 30px;
  background: rgba(255, 255, 255, 0.2);
}
li:nth-child(2) {
  position: absolute;
  left: 30%;
  height: 45px;
  width: 45px;
  background: rgba(255, 255, 255, 0.2);
}
li:nth-child(3) {
  position: absolute;
  left: 50%;
  height: 70px;
  width: 70px;
  background: rgba(255, 255, 255, 0.2);
}
li:nth-child(4) {
  position: absolute;
  left: 80%;
  height: 20px;
  width: 20px;
  background: rgba(255, 255, 255, 0.2);
}
li {
  animation: animate 15s linear 1s infinite;
}

@keyframes animate {
  from {
    transform: translateY(+1500%) rotate(180deg);
  }
  to {
    transform: translateY(-150%) rotate(360deg);
  }
}
